/** MEDIA QUERIES **/

/* Home */

@media screen and (max-width: 1600px) {

  .Container_Image, .Container_Image_Works {
    width: 35%;
    margin-left: 46%;
  }

  .Container_Image_Left {
    width: 31%;
    margin-left: 15%;
  }

  #Gala #Boucheron #Reditum #AirFrance #JardinOrange #Hermes #H2O {
    margin-top: -4%;
    width:180%;
  }

  #Oscars {
    width:170%;
    margin-top: -11%;
  }

  .Container_Text, .Container_Text_Works {
    width:28%;
    margin-left: 15%;
  }

  .Container_Text_Left {
    width:28%;
  }
}

@media screen and (max-width: 1500px) {

  .Container_Line2 {
    margin-top: -1.5%;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    width:30%;
  }

  #Text_Button, #Text_Button_Left {
    padding:0 0 0 35px;
  }

  #Oscars {
    width:170%;
    margin-top: -7%;
  }

}

@media screen and (max-width: 1400px) {

  .Container_Line2 {
    margin-top: -1.8%;
  }

  .Container_Line1 {
    height:180px;
    margin-right: 7.7%;
    margin-top: -4%;
  }

  #Gala #Boucheron #AirFrance #JardinOrange #Hermes #H2O {
    margin-top: -5%;
    margin-left: -47%;
    width:190%;
  }

  #Oscars {
    width:165%;
    margin-top: -6%;
  }

  #Reditum {
    width:185%;
    margin-top: -6%;
  }

  .Container_Text h1 {
    margin: 15% 0 0 0;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    width:31%;
  }

  .Container_Text_Works h1 {
    margin: 15% 0 0 0;
  }

  #Text_Button, #Text_Button_Left {
    padding:0 0 0 33px;
  }

  .Container_Footer {
    padding-top: 8%;
  }
}

@media screen and (max-width: 1300px) {

  .Container_Name {
    width:23%;
  }

  .Container_Line1 {
    margin-right: 10.7%;
  }

  .Container_Line2 {
    margin-top: -2%;
  }

  #Gala #Boucheron #AirFrance #JardinOrange #Hermes #H2O {
    margin-top: -2%;
    margin-left: -53%;
    width:199%;
  }

  #Reditum {
    width:190%;
    margin-top: -6%;
  }

  #Oscars {
    width:170%;
    margin-top: -5%;
  }

  .Container_Text h1, .Container_Text_Works h1, .Container_Text_Left h1 {
    margin: 15% 0 0 -5%;
    font-size:3.5em;
  }

  .Container_Text p, .Container_Text_Works p, .Container_Text_Left p {
    width:70%;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    width:34%;
  }

}

@media screen and (max-width: 1200px) {

  .Container_Name {
    width:25%;
  }

  .Container_Line1 {
    margin-right: 12.5%;
  }

  .Container_Line2 {
    margin-top: -4.8%;
  }

  #Gala {
    margin-top: 0%;
    margin-left: -55%;
    width:200%;
  }

  #Oscars {
    width:185%;
    margin-top: -5%;
  }

  #Reditum {
    width:210%;
    margin-top: -4%;
  }

  #Boucheron {
    width:170%;
    margin-left: -65%;
    margin-top: -4%;
  }

  #AirFrance {
    width:190%;
    margin-left: -65%;
    margin-top: 0%;
  }

  #JardinOrange {
    width:200%;
    margin-left: -5%;
    margin-top: 0%;
  }

  #Hermes {
    width:160%;
    margin-left: -70%;
    margin-top: 0%;
  }

  #H2O {
    width:200%;
    margin-left: -5%;
    margin-top: 0%;
  }

  .Container_Text h1, .Container_Text_Works h1, .Container_Text_Left h1 {
    margin: 15% 0 0 -5%;
    font-size:3em;
  }

  .Container_Text h4, .Container_Text_Works h4, .Container_Text_Left h4 {
    font-size:0.8em;
  }

  .Container_Text p, .Container_Text_Works p, .Container_Text_Left p {
    width:65%;
    font-size:1.4em;
  }

}

@media screen and (max-width: 1100px) {

  .Container_Name {
    width:28%;
  }

  .Container_Line1 {
    margin-right: 15.5%;
  }

  .Container_Line2 {
    border:0px;
  }

  .Container_Image {
    width:40%;
    margin:auto;
    margin-top:-5%;
  }

  .work1 {
    margin-top:-5%!important;
  }

  .Container_Image_Works {
    width:40%;
    margin:auto;
    margin-top:15%;
  }

  .Container_Image_Left {
    width:40%;
    margin:auto;
    margin-top:15%;
    margin-left:14%;
  }

  #Gala #Boucheron #Reditum #AirFrance #JardinOrange #H2O {
    margin-top: -10%;
    margin-left: -45%;
    width:180%;
  }

  #Oscars {
    width:160%;
    margin-left: -45%;
  }

  #Hermes {
    margin-left: -45%;
  }

  #Reditum {
    width:170%;
    margin-left: -5%;
  }

  #AirFrance {
    width:170%;
    margin-left: -45%;
  }

  .Container_Text, .Container_Text_Works {
    width:60%;
    margin-top: 38.1%;
    position: absolute;
    z-index:1;
  }

  .Container_Text_Left {
    width:60%;
    margin-left: 15%;
    margin-top: 38.1%;
    position: absolute;
    z-index:1;
  }

  .Container_Text h1, .Container_Text_Works h1, .Container_Text_Left h1 {
    margin: 0% 0 0 10%;
    font-size:3em;
  }

  .Container_Text h4, .Container_Text_Works h4, .Container_Text_Left h4 {
    font-size:0.8em;
    margin: 5% 0 0 15%;
  }

  .Container_Text p, .Container_Text_Works p, .Container_Text_Left p {
    width:75%;
    margin: 2% 0 0 15%;
    font-size:1.2em;
  }

  .bioL1, .bio3 {
    margin-top: 4%;
  }

  .bio4 {
    margin-top: 1%;
  }

  .bio2 {
    margin-top: 0.4%;
  }

  .Container_Text_Button, .Container_Text_Button_Left {
    margin-top: 5%;
    display:flex;
    justify-content: flex-end;
  }

  #Text_Button, #Text_Button_Left {
    margin:0;
    padding:0 0 0 32px;
  }

  .Img_Button {
    margin-left: 6%;
  }

  .Container_Button, .Container_Button_Left {
    width:30%;
    height:50px;
    text-align: center;
    display:flex;
    align-items: center;
  }

  .Container_Footer, .Container_Footer_Works {
    padding-top: 14%;
  }

}


@media screen and (max-width: 1000px) {

  .Container_Name {
    width:30%;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    margin-top: 37.5%;
  }

  .Container_Button, .Container_Button_Left {
    width:34%;
  }

  .Container_Footer {
    padding-top: 15%;
  }
}

@media screen and (max-width: 900px) {

  .Container_Name {
    width:38%;
  }

  .Container_Name h1 {
    font-size: 1.4em;
  }

  .Container_Name h6 {
    font-size: 0.8em;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left{
    margin-top: 36.8%;
  }

  .Container_Button, .Container_Button_Left {
    width:38%;
  }

  .Container_Footer {
    padding-top: 16%;
  }
}

@media screen and (max-width: 800px) {

  .Container_Name {
    width:38%;
  }

  .Container_Line1 {
    margin-top: -5%;
  }

  .Container_Image, .work1 {
    width:45%;
    margin:auto;
    margin-top:-5%;
  }

  .Container_Image_Works, .Container_Image_Left {
    width:45%;
    margin:auto;
    margin-top:10%;
  }

  #Gala #Boucheron #Hermes {
    margin-top: -10%;
    margin-left: -45%;
    width:180%;
  }

  #Oscars {
    width:150%;
    margin-left: -45%;
  }

  #Reditum {
    width:150%;
    margin-left: -45%;
  }

  #AirFrance {
    width:150%;
    margin-left: -45%;
  }

  #JardinOrange {
    width:150%;
    margin-left: -45%;
  }

  #H2O {
    width:150%;
    margin-left: -45%;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    margin-top: 41.1%;
  }

  .Container_Button, .Container_Button_Left {
    width:42%;
  }

  .Container_Footer {
    padding-top: 17%;
  }
}

@media screen and (max-width: 700px) {

  .Container_Name {
    width:42%;
  }

  .Container_Menu_Burger {
    display:block;
    margin-left: 60%;
    width:50px;
  }

  .Container_Menu_List {
    display:none;
  }

  .Container_Line1 {
    margin-top: -5%;
  }

  .Container_Image, .Container_Image_Works, .Container_Image_Left {
    width:50%;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    margin-top: 44.8%;
  }

  .Container_Button, .Container_Button_Left {
    width:48%;
  }

  .Container_Footer {
    padding-top: 18%;
  }
}

@media screen and (max-width: 600px) {

  .Container_Name {
    width:45%;
  }

  .Container_Name h1 {
    font-size: 1.2em;
  }

  .Container_Menu_List li {
    font-size: 0.8em;
  }

  .Container_Line1 {
    margin-top: -8%;
  }

  .Container_Image, .Container_Image_Works, .Container_Image_Left {
    width:70%;
  }

  .Container_Menu_Burger {
    width:45px;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    margin:auto;
    margin-top: 62%;
    width:80%;
  }

  .Container_Button, .Container_Button_Left {
    width:43%;
  }

  .Container_Footer {
    padding-top: 24%;
  }
}

@media screen and (max-width: 550px) {

  .Container {
    margin: 30px 30px 0px 20px;
  }

  .Container_Button, .Container_Button_Left {
    width:47%;
  }

  .Container_Footer {
    padding-top: 25%;
  }

  .Menu_Burger_List {
    margin:63% 0 0 0;
  }
}

@media screen and (max-width: 500px) {

  .Container_Button, .Container_Button_Left {
    width:50%;
  }

  .Menu_Burger_List {
    margin:70% 0 0 0;
  }
}

@media screen and (max-width: 450px) {

  .Container_Image, .Container_Image_Works, .Container_Image_Left {
    width:80%;
  }

  .Container_Menu_Burger {
    width:40px;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    margin-top: 68.1%;
  }

  .Menu_Burger_List {
    margin:75% 0 0 0;
  }

  .Container_Button, .Container_Button_Left {
    width:59%;
    margin-right: -17%;
  }

  .Container_Footer, .Container_Footer_Works {
    padding-top: 27%;
  }
}

@media screen and (max-width: 400px) {

  .Container {
    margin: 20px 10px 0px 10px;
  }

  .Container_Image {
    width:70%;
    margin-top: -20%;
  }

  .work1 {
    width:70%;
    margin-top: -5%!important;
  }

  .Container_Image_Works, .Container_Image_Left {
    margin-top: 30%;
  }

  .Container_Text {
    margin-top: 58.1%;
  }

  .Container_Text_Works, .Container_Text_Left {
    margin-top: 65.1%;
  }

  .Container_Menu_Burger {
    width:38px;
    margin-top: 10%;
    margin-left: 30%;
  }

  .bio3 {
    margin-top: 12%;
  }

  .bio2 {
    margin-top: -2%;
  }

  #Menu_Burger_Close{
    margin-left: 86%;
    margin-top: 6%;
    width:31px;
  }

  .Container_Button, .Container_Button_Left {
    width:63%;
    margin-right: -19%;
    margin-top: 10%;
  }

  .Menu_Burger_List {
    margin:45% 0 0 0;
  }

  .Container_Footer, .Container_Footer_Works {
    padding-top: 30%;
  }
}

@media screen and (max-width: 350px) {

  .Container {
    margin: 20px 10px 0px 10px;
  }

  .Container_Image {
    width:70%;
    margin-top: -20%;
  }

  .Container_Image_Works, .Container_Image_Left {
    width:70%;
    margin-top: -10%;
  }

  .Container_Text, .Container_Text_Works, .Container_Text_Left {
    margin-top: 58.1%;
  }

  .Container_Menu_Burger {
    width:38px;
    margin-top: 10%;
    margin-left: 30%;
  }

  #Menu_Burger_Close{
    margin-left: 86%;
    margin-top: 6%;
    width:31px;
  }

  #Gala #Boucheron #Reditum #AirFrance #JardinOrange #Hermes #H2O {
    margin-top: -10%;
    margin-left: -45%;
    width:180%;
  }

  #Oscars {
    width:150%;
    margin-left: -45%;
  }

  .Container_Button, .Container_Button_Left {
    width:70%;
    margin-right: -19%;
    margin-top: 10%;
  }

  .Menu_Burger_List {
    margin:45% 0 0 0;
  }

  .Container_Footer {
    padding-top: 60%;
  }
}
